# Exercise 2. - Filtering and Sorting Data

Check out [Euro 12 Exercises Video Tutorial](https://youtu.be/iqk5d48Qisg) to watch a data scientist go through the exercises

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [100]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/kflisikowsky/pandas_exercises/refs/heads/main/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [99]:
euro12 =  pd.read_csv('https://raw.githubusercontent.com/kflisikowsky/pandas_exercises/refs/heads/main/Euro_2012_stats_TEAM.csv')
euro12.head(3)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15

### Step 4. Select only the Goal column.

In [101]:

goal = euro12['Goals']
goal.head(3)

0    4
1    4
2    4
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [102]:
len(euro12)

16

### Step 6. What is the number of columns in the dataset?

In [103]:
ccol = len(euro12.columns)
print(ccol)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [104]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline.head(3)

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [105]:
sortcards = discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)
sortcards.head(10)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [106]:
afterdot = 2
MeanY = euro12['Yellow Cards'].mean()
print(MeanY.round(afterdot))

7.44

### Step 10. Filter teams that scored more than 6 goals

In [132]:

goals = euro12[euro12.Goals > 6].sort_values('Goals', ascending = False)
print(goals[['Goals']])

         Goals
Team
Spain       12
Germany     10

### Step 11. Select the teams that start with G

In [116]:
Gteams = euro12[euro12.Team.str.startswith('G')]
Gteams[['Team']]

      Team
5  Germany
6   Greece

### Step 12. Select the first 7 columns

In [117]:

euro12.iloc[:, 0:7].head(3)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27

### Step 13. Select all columns except the last 3.

In [118]:
euro12.iloc[:, 0:-3].head(3)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [119]:
euro12.set_index('Team', inplace = True)
euro12.loc[['England', 'Italy', 'Russia'], 'Shooting Accuracy']

Team
England    50.0%
Italy      43.0%
Russia     22.5%
Name: Shooting Accuracy, dtype: object