# Exercise 3. - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv', sep=",")
drinks.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF

### Step 4. Which continent drinks more beer on average?

In [23]:
beer = drinks.sort_values('beer_servings', ascending=False).head(1)
beer[['country', 'beer_servings']]

     country  beer_servings
117  Namibia            376

### Step 5. For each continent print the statistics for wine consumption.

In [13]:
rnd = 2
drinks.groupby('continent').wine_servings.describe().round(rnd)

           count    mean    std  min   25%    50%     75%    max
continent
AF          53.0   16.26  38.85  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.07  21.67  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.22  97.42  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.62  64.56  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.42  88.62  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [27]:
beer2 = drinks.groupby('continent').mean(numeric_only=True)
beer2['beer_servings, wine_servings, spirit_servings, total_litres_of_pure_alcohol'.split(', ')].round(2)

,beer_servings,wine_servings,spirit_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.47,16.26,16.34,3.01
AS,37.05,9.07,60.84,2.17
EU,193.78,142.22,132.56,8.62
OC,89.69,35.62,58.44,3.38
SA,175.08,62.42,114.75,6.31

### Step 7. Print the median alcohol consumption per continent for every column

In [28]:
median1 = drinks.groupby('continent').median(numeric_only=True)
median1[['beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol']].round(2)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [29]:
spirit1 = drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max']).round(2)
spirit1

             mean  min  max
continent
AF          16.34    0  152
AS          60.84    0  326
EU         132.56    0  373
OC          58.44    0  254
SA         114.75   25  302